{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.10.0"},
    {jiffy, "1.1.1"},
    {uuid, "2.0.6", {pkg, uuid_erl}}
]}.

{relx, [
    {release, {task_server, "1.0.0"}, [
        task_server,
        sasl
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {include_erts, false}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true}
        ]}
    ]}
]}.